---
import { Image } from "astro:assets";

Image;
interface Props {
  content: string;
  name: string;
  imgSrc: ImageMetadata;
  company: string;
  classes?: string;
}

const { content, name, imgSrc, company, classes } = Astro.props;
const ratings = new Array(5);
ratings.fill({
  icon: "star",
  style: { fontVariationSettings: "'FILL' 1" },
});
---

<div
  class="bg-zinc-800 p-5 rounded-xl min-w-[320px] flex flex-col lg:min-w-[420px]"
>
  <div class="flex items-center gap-1 mb-3">
    {
      ratings.map(({ icon, style }) => (
        <span
          class="material-symbols-outlined text-yellow-300 text-[18px]"
          style={style}
        >
          {icon}
        </span>
      ))
    }
  </div>
  <p class="text-zinc-400 mb-8">
    {content}
  </p>
  <div class="flex items-center gap-2 mt-auto">
    <figure class="img-box rounded-lg">
      <Image
        src={imgSrc}
        alt={name}
        width={44}
        height={44}
        loading="lazy"
        class="img-cover"
      />
    </figure>
    <div>
      <p>
        {name}
      </p>
      <p class="text-xs text-zinc-400 tracking-wider">{company}</p>
    </div>
  </div>
</div>
