---
import "../styles/global.css";
import logo from "../assets/favicon.svg";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const title = "Wolf2Lyon Dev";
const description =
  "Desarrollo web y aplicaciones a medida para negocios y emprendedores. Sitios modernos, rápidos y a tu medida. ¡Haz crecer tu proyecto con un freelance profesional!";
---

<!doctype html>
<html lang="en" class="scrollbar-thin scrollbar-track-zinc-800 scrollbar-thumb-zinc-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/img/favicon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Open Graph / Facebook -->
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/img/favicon.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/img/favicon.png" />
    <meta name="twitter:image:alt" content={title} />
    <meta name="twitter:site" content="@wolf2lyon" />
    <meta name="twitter:creator" content="@wolf2lyon" />


    <!-- Fonts and Styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu_close_download_arrow_downward_arrow_outward_star_chevron_right"
    />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html, body {
    margin: 0;
    padding: 0;
  }
</style>
